$background-color: #1c5996;
$dark-blue: #25405b;
$med-blue: #294865;
$light-green: #26723a;
$dark-green: #18540c;
$white: #f4f6f4;

// dubugging css
// * *:hover { border:2px solid #89A81E }                   /* Solid Green */
// * * *:hover { border:2px solid #F34607 }                 /* Solid Orange */
// * * * *:hover { border:2px solid #5984C3 }               /* Solid Blue */
// * * * * *:hover { border:2px solid #CD1821 }             /* Solid Red */
// * * * * * *:hover { border:2px dotted #89A81E }          /* Dotted Green */
// * * * * * * *:hover { border:2px dotted #F34607 }        /* Dotted Orange */
// * * * * * * * *:hover { border:2px dotted #5984C3 }      /* Dotted Blue */
// * * * * * * * * *:hover { border:2px dotted #CD1821 }    /* Dotted Red */


//Utilities
.no-gutter > [class*='col-'] {
    padding-right:0;
    padding-left:0;
}

.row-eq-height {
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display:         flex;
}

.vcenter {
    margin-top: auto;
    margin-bottom: auto;
}

.center-text {
    text-align: center;
}

.margin-50-bottom {
    margin-bottom: 50px;
}
.green-fill {
    background: $dark-green;
}
.full-width-bar {
  margin: 0 -9999rem;
  /* add back negative margin value */
  padding: 0.25rem 9999rem;
}

//PAGES

body, html {
    height: 100%;
}

body {
    overflow-x: hidden;
    color: $white;
    p {
        font-size: 20px;
    }

    a {
        color: $white;
        &:hover {
            color: $white;
        }
    }

    h2 {
        font-family: serif;
    }
}

hr {
    background-color: $light-green;
    height: 2px;
    border: 0;
}

.background {
    background-color: $background-color;
    min-height: 100vh;
    height: auto;
}

.blue-background {
    background-color: $med-blue;
}

#header {
    #logo {
        position: relative;
        z-index: 1;
        background: url('/images/logo.png') no-repeat;
        width: 531px;
        height: 128px;
    }

    #phone {
        background: url('/images/phone.png') no-repeat;
        width: 21px;
        height: 22px;
        display: inline-block;
    }

    #contact-text {
        display: inline-block;
        text-align: left;
    }
    #phone-number {
        display: inline-block;
    }
}

#content {
    overflow: visible;
    min-height: inherit;
    padding: 0px;


    .blue-backdrop {
        border: 25px solid $dark-blue;

    }
    .green-backdrop {
        border: 25px solid $dark-green;

    }
    .notepad {
        background: url('/images/notepad.png') no-repeat;
        width: 490px;
        height: 325px;
    }

    .help {
        background: url('/images/analysis-help.png') no-repeat;
        width: 490px;
        height: 325px;
    }

    .quickbooks {
        background: url('/images/quickbooks.png') no-repeat;
        background-position: center;
        width: 325px;
        height: 65px;
    }

    .quickbooks-logo {
        background: url('/images/quickbooks-logo.png') no-repeat;
        background-position: center;
        width: 380px;
        height: 238px;
        float: right;
    }

    .qc {
        background: url('/images/qc.png') no-repeat;
        margin-top: -70px;
        width: 680px;
        height: 390px;
        position: absolute;
        z-index: 0;
    }
    .book-collection {
        background: url('/images/book-collection.png') no-repeat;
        z-index: 1;
        position: absolute;
        height:560px;
        width: 545px;
        margin-top: -205px;
        margin-left: 75px;
    }
    .lock {
        background: url('/images/lock.png') no-repeat;
        width: 435px;
        height: 290px;
        background-position: center;
    }
    .pointer {
        background: url('/images/pointer.png') no-repeat;
        width: 435px;
        height: 290px;
        background-position: center;
    }
    .writing {
        background: url('/images/writing.png') no-repeat;
        width: 435px;
        height: 290px;
    }
    .graph {
        background: url('/images/graph.png') no-repeat;
        width: 435px;
        height: 290px;
    }
    .pen {
        background: url('/images/pen.png') no-repeat;
        width: 435px;
        height: 290px;
    }
    .shake {
        background: url('/images/shake.png') no-repeat;
        width: 435px;
        height: 290px;
    }

    .pointinggraph {
        background: url('/images/shutterstock1.png') no-repeat;
        width: 435px;
        height: 290px;
    }
    .meeting {
        background: url('/images/shutterstockmeeting.png') no-repeat;
        width: 435px;
        height: 290px;
    }
    .accounting-book{
        background: url('/images/shutterstockbook.png') no-repeat;
        width: 435px;
        height: 290px;
    }
    .meeting-dude {
        background: url('/images/shutterstockdude.png') no-repeat;
        width: 435px;
        height: 290px;
    }
    .comparison {
        background: url('/images/shutterstockpaper.png') no-repeat;
        width: 435px;
        height: 290px;
    }
    .collab {
        background: url('/images/shutterstockcollab.png') no-repeat;
        width: 435px;
        height: 290px;
    }
    .review {
        background: url('/images/shutterstockreview.png') no-repeat;
        width: 435px;
        height: 290px;
    }
    .laptop {
        background: url('/images/shutterstocklaptop.png') no-repeat;
        width: 435px;
        height: 290px;
    }
    .shake {
        background: url('/images/shutterstockshake.png') no-repeat;
        width: 435px;
        height: 290px;
    }
    .thinking {
        background: url('/images/shutterstockthinking.png') no-repeat;
        width: 435px;
        height: 290px;
    }


    #globe {
        background: url('/images/globe.png') no-repeat;
        background-position: center;
        min-width: 860px;
        top: -100px;
        left: 0px;
        width: 100%;
        height: 950px;
        position: absolute;
        z-index: 0;
        padding: 0px;
    }

    #navigation {
        position: relative;
        z-index: 1;
        #nav {
            padding: 0px;
            float:right;
            background-color: #1c5312;
            list-style: none;
            width: 400px;

            li {
                color: #f6f6f6;

                &:after {
                    content:"";
                    background: black;
                    position: absolute;
                    width: 30%;
                    right: 245px;
                    height: 1px;

                }
                &:last-child {
                    &:after {
                        content:"";
                        background: black;
                        position: absolute;
                        width: 50%;
                        right: 0px;
                        height: 0px;
                    }
                }
            }
            a {
                padding: 40px 50px;
                display: block;
            }
        }
    }

    #main-content {
        min-height: 800px;

        #main {
            background-color: $med-blue;
            min-height: inherit;

            &.short {
                min-height: 20px;
            }
            p {

            }
        }
        #secondary {
            margin-top: 50px;
            min-height: 20px;
            > div {
                background-color: $med-blue;
            }
        }

        #tagline {
            position: absolute;
            top: 40%;
            transform: translateY(-50%);
            font-size: 30px;

            .bold {

            }
        }

        .scroll-down {
            position: absolute;
            bottom: 0px;
            right:0px;

            .arrow {
                display: inline-block;
                background: url('/images/scroll-down.png') no-repeat;
                width: 25px;
                height: 25px;
            }
        }

    }

    #more-content {
        margin-bottom: 100px;

        .testimonials {
            text-align: center;

            .name {

            }
            .company {

            }
            .website {
                position: absolute;
                float: right;
                right: 5px;
            }
        }


        .news {
            h2 {
                text-align: center;
            }

            .item {

            }
        }
    }
}

#footer {
    .fb {
        background: url('/images/fb.png') no-repeat;
        width: 21px;
        height: 22px;
        display: inline-block;
    }

    .twitter {
        background: url('/images/facebook.png') no-repeat;
        width: 21px;
        height: 22px;
        display: inline-block;
    }
}
