$background-color: #1c5996;
$dark-blue: #25405b;
$med-blue: #294865;
//$light-blue: #205993;
$light-blue: #aadce7;
$extra-light-green: #4eb268;
$light-green: #26723a;
$dark-green: #18540c;
//$dark-green: #213418;
$white: #f4f6f4;

$img-width: 400px;
$img-height: 315px;

@font-face {
    font-family:"cochin";
    src: url("/fonts/cochin.ttf"), url("/fonts/cochin.ttc");
}

// dubugging css
// * *:hover { border:2px solid #89A81E }                   /* Solid Green */
// * * *:hover { border:2px solid #F34607 }                 /* Solid Orange */
// * * * *:hover { border:2px solid #5984C3 }               /* Solid Blue */
// * * * * *:hover { border:2px solid #CD1821 }             /* Solid Red */
// * * * * * *:hover { border:2px dotted #89A81E }          /* Dotted Green */
// * * * * * * *:hover { border:2px dotted #F34607 }        /* Dotted Orange */
// * * * * * * * *:hover { border:2px dotted #5984C3 }      /* Dotted Blue */
// * * * * * * * * *:hover { border:2px dotted #CD1821 }    /* Dotted Red */

* {
    z-index: 1;
}
//Utilities
.no-gutter > [class*='col-'] {
    padding-right:0;
    padding-left:0;
}

.row-eq-height {
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display:         flex;
}

.vcenter {
    position: relative;
    top: 50%;
    transform: translateY(-50%);
}
.vbottom{
    position: relative;
    top: 100%;
    transform: translateY(-100%);
}

.vertical-center {
  // min-height: 100%;  /* Fallback for browsers do NOT support vh unit */
  // min-height: 100vh; /* These two lines are counted as one :-)       */

  display: flex;
  align-self: center;
  flex-direction: column;

}

.center-text {
    text-align: center;
}

.margin-50-bottom {
    margin-bottom: 50px !important;
}

.margin-100-bottom {
    margin-bottom: 100px !important;
}

.margin-150-bottom {
    margin-bottom: 150px;
}

.margin-top-25 {
    margin-top: 25px;
}

.padding-25 {
    padding: 25px;
}

.green-fill {
    background: $dark-green;
}
.full-width-bar {
  margin: 0 -9999rem;
  /* add back negative margin value */
  padding: 0.25rem 9999rem;
}

.font-serif {
    font-family: 'cochin', serif !important;
}
.font-sans-serif {
    font-family: sans-serif !important;
}
.top-level {
    z-index: 99;
}

.inline-block {
    display: inline-block;
}

.padding-25 {
    padding:25px;
}

.padding-left-50 {
    padding-left: 50px;
}

.color-white {
    color: $white !important;
}

.color-green {
    color: $light-green;
}

//PAGES
html {
    height: 100%;
    overflow-x: hidden;
}

body {
    overflow-x: hidden;
    color: $white;
    font-family: 'Dosis', sans-serif;

    p {
        font-size: 17px;
        margin: 1.5em 0px;
        font-weight: 100;
        position: relative;
        z-index: 100 !important;
    }

    a {
        color: $white;
        text-decoration: underline;
        &:hover {
            color: $white;
        }

        &:focus, &:visited {
            color: $white;
        }

    }
    b {
        font-weight: bold;
    }

    h1 {
        font-size: 60px;
        font-weight: 100;
        font-family: 'cochin', serif;

    }

    h2 {
        font-family: 'cochin', serif;
        font-weight: 100;
        margin-top: 1rem;
    }

    h3 {
        font-family: 'cochin', serif;
        font-weight: 100;
    }

    h4 {
        font-family: 'cochin', serif;
        font-weight: 100;
    }

    h5 {
        font-family: 'cochin', serif;
    }
}

hr {
    background-color: $light-green;
    height: 2px;
    border: 0;
}

.background {
    background-color: $background-color;
    min-height: 100vh;
    height: auto;
    position: relative;
    overflow: hidden;
}

.blue-background {
    background-color: $med-blue;
}

.green-background {
    background-color: $dark-green;

    .border {
        border: 3px solid $med-blue;
        display: inline-block;
    }
}

.phone {
    display: inline-block;

    &:before {
        content:'';
        background: url('/images/phone.png') no-repeat;
        display: inline-block;
        width: 21px;
        height: 22px;
        margin-right: 5px;
        margin-bottom: -2px;
        background-size: 100%;
    }
}

.contact {
    padding:50px;
    /* Style inputs with type="text", select elements and textareas */
    input[type=text], select, textarea {
        width: 100%; /* Full width */
        padding: 12px; /* Some padding */
        border: 1px solid #ccc; /* Gray border */
        box-sizing: border-box; /* Make sure that padding and width stays in place */
        margin-top: 6px; /* Add a top margin */
        margin-bottom: 16px; /* Bottom margin */
        resize: vertical /* Allow the user to vertically resize the textarea (not horizontally) */
    }
    textarea {
        width: 100%;
    }

    /* Style the submit button with a specific background color etc */
    .submit {
        display: inline-block;
    }

    input[type=submit] {
        background-color: $med-blue;
        color: $white;
        padding: 27px 85px;
        border: none;
        cursor: pointer;
        font-weight: bold;
    }

    /* When moving the mouse over the submit button, add a darker green color */
    input[type=submit]:hover {
        background-color: #45a049;
    }

    label {
        display: none;
    }

    .g-recaptcha{
        display: inline-block;
    }
}

.wave {
    background: url('/images/wave.png') no-repeat;
    background-position: center;
    width: 2700px;
    height: 590px;
    position: absolute;
    top: 1200px;
    left: -1160px;
    z-index: 0;
    padding: 0px;
}

.wave-blue {
    background: url('/images/wave-blue.png') no-repeat;
    background-position: center;
    width: 2700px;
    height: 580px;
    position: absolute;
    top: 1110px;
    left: -1100px;
    z-index: 0;
    padding: 0px;
}

.slant {
    background: url('/images/slant.png') no-repeat;
    width: 2700px;
    height: 1600px;
    position: absolute;
    top: 1600px;
    left: -600px;
    z-index: 0;
    padding: 0px;
}

#globe {
    background: url('/images/globe.png') no-repeat;
    background-position: center;
    min-width: 860px;
    left: 28%;
    top: 1%;
    width: 900px;
    height: 950px;
    position: absolute;
    z-index: 0;
    padding: 0px;
}

.fb {
    background: url('/images/facebook.png') no-repeat;
    width: 21px;
    height: 22px;
    display: inline-block;

    &:hover {
        opacity: .8;
        cursor: pointer;
    }
}

.linked-in {
    background: url('/images/linked-in.png') no-repeat;
    width: 21px;
    height: 22px;
    display: inline-block;

    &:hover {
        opacity: .8;
        cursor: pointer;
    }
}

.buy-book {
    width: 170px;
    height: 150px;
    background-color: $light-green;
    margin-top: 50px;
    padding: 15px;
    font-size: 14px;
    display: flex;
    justify-content: center;

    .title {

        align-self: flex-start;

        &.pdf {
            &:before {
                content:'';
                background: url('/images/bookmark.png') no-repeat;
                display: inline-block;
                width: 10px;
                height: 11px;
                margin-right: 5px;
            }
        }
        &.audio {
            &:before {
                content:'';
                background: url('/images/audiotrack.png') no-repeat;
                display: inline-block;
                width: 10px;
                height: 11px;
                margin-right: 5px;
            }
        }
        &.book {
            &:before {
                content:'';
                background: url('/images/book-collection.png') no-repeat;
                display: inline-block;
                width: 10px;
                height: 11px;
                margin-right: 5px;
            }
        }
    }

    .price {
        font-size: 16px;
        align-self: center;
    }

    a {
        align-self: flex-end;
        border: 2px solid $white;
        padding: 10px 15px;
        text-decoration: none;
        &:before {
            content:'';
            display: inline-block;
            background: url('/images/arrow-white.png')  no-repeat;
            margin-left: 5px;
            width: 20px;
            height: 10px;
            position: absolute;
            right: 15px;
            top: 18px;

        }

        &:hover {
            text-decoration: underline;
        }
    }

}

#header {
    #logo {
        position: relative;
        z-index: 1;
        background: url('/images/logo.png') no-repeat;
        width: 531px;
        height: 128px;
        margin-bottom: 25px;
        margin-left: -115px;
    }

    #contact-text {
        display: inline-block;
        text-align: left;
        line-height: 1em;
        font-size: 12px;
        margin-right: 15px;
    }
    .phone {
        font-size: 30px;
        line-height: 25px;
        font-family: 'cochin', serif;

    }
}

#content {
    overflow: visible;
    min-height: inherit;
    padding: 0px;

    .contact-text {
        display: inline-block;
        text-align: left;
    }
    .phone-number {
        display: inline-block;
    }

    .blue-backdrop {
        border: 25px solid $dark-blue;

    }
    .green-backdrop {
        border: 25px solid $dark-green;

    }
    .Senior-Accountant {
        background: url('/images/Senior-Accountant.png') no-repeat;
        width: $img-width;
        height: $img-height;

    }

    .Business-Analyst {
        background: url('/images/Business-Analyst.jpg') no-repeat;
        width: $img-width;
        height: $img-height;
        background-size: 130%;
        background-position: center;

    }

    .quickbooks {
        background: url('/images/quickbooks.png') no-repeat;
        background-position: center;
        width: 325px;
        height: 65px;
    }

    .QBecosystem {
        background: url('/images/QBecosystem.png') no-repeat;
        background-position: center;
        width: 435px;
        height: 290px;
        float: right;
        margin-right: -50px;
    }

    .qc {
        background: url('/images/qc.png') no-repeat;
        top: -70px;
        left: -130px;
        width: 680px;
        height: 390px;
        position: absolute;
        z-index: 0;
    }
    .book-collection {
        background: url('/images/book-collection.png') no-repeat;
        position: absolute;
        z-index: 1;
        background-position: center;
        height:525px;
        width: 510px;
        top: -205px;
        left: -45px;
    }
    .book-collection-small {
        background: url('/images/book-collection.png') no-repeat;
        background-size: 100%;
        position: absolute;
        z-index: 1;
        height:400px;
        width: 400px;
        top: -30px;
        @media only screen and (max-width : 992px) {
            position: relative;
        }

    }
    .fraud {
        background: url('/images/fraud.jpg') no-repeat;
        width: $img-width;
        height: $img-height;
        background-size: 110%;
        @media only screen and (max-width : 992px) {

        }
    }

    .pointer {
        background: url('/images/pointer.png') no-repeat;
        width: $img-width;
        height: $img-height;
        @media only screen and (max-width : 992px) {

        }
    }
    .Improve {
        background: url('/images/Improve.png') no-repeat;
        width: $img-width;
        height: $img-height;
        background-position: center;
        background-size: 113%;

        @media only screen and (max-width : 992px) {

        }
    }
    .Roadmap {
        background: url('/images/Roadmap.png') no-repeat;
        width: $img-width;
        height: $img-height;
        @media only screen and (max-width : 992px) {

        }
    }
    .Systematically {
        background: url('/images/Systematically.png') no-repeat;
        width: $img-width;
        height: $img-height;
        @media only screen and (max-width : 992px) {

        }

    }
    .Advisors {
        background: url('/images/Advisors.png') no-repeat;
        width: $img-width;
        height: $img-height;
        @media only screen and (max-width : 992px) {

        }
    }

    .pointinggraph {
        background: url('/images/shutterstock1.png') no-repeat;
        width: $img-width;
        height: $img-height;
        @media only screen and (max-width : 992px) {

        }
    }
    .Benefit {
        background: url('/images/Benefit.jpg') no-repeat;
        width: $img-width;
        height: $img-height;
        @media only screen and (max-width : 992px) {

        }
    }
    .Architect {
        background: url('/images/Architect.jpg') no-repeat;
        width: $img-width;
        height: $img-height;
        background-size: 140%;
        background-position: center;

        @media only screen and (max-width : 992px) {

        }
    }
    .Top-Down {
        background: url('/images/Top-Down.jpg') no-repeat;
        width: $img-width;
        height: $img-height;
        background-size: 170%;
        background-position: center;
        @media only screen and (max-width : 992px) {

        }
    }
    .Terminology  {
        background: url('/images/Terminology.jpg') no-repeat;
        width: $img-width;
        height: $img-height;
        background-size: 170%;
        background-position: center;
        @media only screen and (max-width : 992px) {

        }
    }
    .Collaboration {
        background: url('/images/Collaboration.jpg') no-repeat;
        width: $img-width;
        height: $img-height;
        @media only screen and (max-width : 992px) {

        }
    }
    .Leverage {
        background: url('/images/Leverage.jpg') no-repeat;
        width: $img-width;
        height: $img-height;
        @media only screen and (max-width : 992px) {

        }
    }
    .Cloud {
        background: url('/images/Cloud.jpg') no-repeat;
        width: $img-width;
        height: $img-height;
        @media only screen and (max-width : 992px) {

        }
    }
    .Future {
        background: url('/images/Future.jpg') no-repeat;
        width: $img-width;
        height: $img-height;
        background-size: 170%;
        background-position: center;
        @media only screen and (max-width : 992px) {

        }
    }
    .Concerns {
        background: url('/images/Concerns.jpg') no-repeat;
        width: $img-width;
        height: $img-height;
        background-size: 170%;
        background-position: center;
        @media only screen and (max-width : 992px) {

        }
    }
    .Language {
        background: url('/images/Language.jpg') no-repeat;
        width: $img-width;
        height: $img-height;
        background-size: 170%;
        background-position: center;
        @media only screen and (max-width : 992px) {

        }
    }

    .Way {
        background: url('/images/Way.jpg') no-repeat;
        width: $img-width;
        height: $img-height;
        background-size: 170%;
        background-position: center;
        @media only screen and (max-width : 992px) {

        }
    }

    .Radical {
        background: url('/images/Radical.jpg') no-repeat;
        width: $img-width;
        height: $img-height;
        background-size: 170%;
        background-position: center;
        @media only screen and (max-width : 992px) {

        }
    }
    .Buy {
        background: url('/images/Buy.jpg') no-repeat;
        width: $img-width;
        height: $img-height;
        background-size: 170%;
        background-position: center;
        @media only screen and (max-width : 992px) {

        }
    }
    .Listen {
        background: url('/images/Listen.jpg') no-repeat;
        width: 500px;
        height: 450px;
        @media only screen and (max-width : 992px) {

        }
    }
    .Audiobook {
        background: url('/images/Audiobook.jpg') no-repeat;
        width: 500px;
        height: 450px;
        @media only screen and (max-width : 992px) {

        }
    }

    .seattle {
        background: url('/images/seattle.jpg') no-repeat;
        width: $img-width;
        height: $img-height;

        background-position: center;
        @media only screen and (max-width : 992px) {

        }
    }

    .shelly {
        background: url('/images/shelly.png') no-repeat;
        width: 400px;
        height: 325px;

    }

    .proadvisor {
        background: url('/images/Certified-ProAdvisor.png') no-repeat;
        width: 100px;
        height: 135px;
        background-size: 100%;
        margin: 15px;
    }

    .madeline {
        background: url('/images/shelly.png') no-repeat;
        width: 400px;
        height: 325px;
    }

    .dana {
        background: url('/images/dana.png') no-repeat;
        width: 400px;
        height: 325px;
        background-position: center;
    }

    .certification-logos {
        background: url('/images/certification-logos.png') no-repeat;
        background-size: 100%;
        height: 215px;
        max-width: 1000px;
        margin: 0px auto;

    }

    // .enterprise {
    //     background: url('/images/qb-enterprise.png') no-repeat;
    //     width: 435px;
    //     height: 200px;
    //     background-position: center;
    //     display: inline-block;
    // }

    .qb-background-border {
        //display: inline-block;
        background: $med-blue;
        width: 350px;
        height: 300px;
        border: 15px solid $dark-green;
        margin: 25px;
        float:left;
        position: relative;

        img {
            position: absolute;
            margin: auto;
            top: 0;
            left: 0;
            right: 0;
            bottom: 0;

        }
    }

    .wrap-text-right {
        float:right;
        position: relative;

        &.up-and-right {
            left:50px;
            bottom:50px;
        }
    }

    .wrap-text-left {
        float:left;
        position: relative;

        &.up-and-right {
            left:50px;
            bottom:50px;
        }
    }

    .profile-crop {
        width: 400px;
        height: 325px;
        overflow: hidden;
        position: relative;
        margin: 0px 25px 25px 0px;
        img {
            position: absolute;
            top: 0; bottom:0; left: 0; right:0;
            margin: auto;
        }
    }

    .see-more {
        float: right;
        line-height: 10px;
        font-size: 10px;
        text-decoration: none;
        position: relative;
        width: 160px;
        display: inline-block;
        text-align: right;
        padding: 15px 25px 15px 10px;

        &:before {
            content:'';
            display: inline-block;
            background: url('/images/comment.png')  no-repeat;
            margin-left: 5px;
            width: 20px;
            height: 20px;
            position: absolute;
            right: 0px;


        }

        &:hover {
            opacity: .8;
            cursor: pointer;
        }
    }

    .square-button {
        text-decoration: none;
        padding: 18px 40px;
        border: 2px solid $white;
        width: 245px;
        font-size: 10px;
        position: relative;
        background-color: $med-blue;
        height: 50px;
        line-height: 10px;
        text-align: center;
        display: inline-block;

        &.double-line {
            padding: 15px 60px 15px 40px;
            text-align: right;
        }
        &:hover {
            opacity: .8;
        }
        &:before {
            content:'';
            display: inline-block;
            background: url('/images/arrow.png')  no-repeat;
            margin-left: 5px;
            width: 20px;
            height: 10px;
            position: absolute;
            right: 15px;
            top: 18px;

        }
    }

    #navigation {
        position: relative;
        z-index: 50;
        #nav {
            padding: 0px;
            float:right;
            background-color: #1c5312;
            list-style: none;
            width: 400px;

            li {
                color: #f6f6f6;

                &:hover {
                    opacity: .8;
                }

                &:after {
                    content:"";
                    background: black;
                    position: absolute;
                    width: 30%;
                    right: 245px;
                    height: 1px;

                }
                &:last-child {
                    &:after {
                        content:"";
                        background: black;
                        position: absolute;
                        width: 50%;
                        right: 0px;
                        height: 0px;
                    }
                }
            }
            a {
                padding: 30px 50px;
                display: block;
                text-decoration: none;

                :hover {
                    text-decoration: underline;
                }
            }
        }
    }

    #main-content {
        // *[class^='col-*'] {
        //         height: 800px;
        // }
        .full {
            height: 745px;
        }

        h2 {
            margin: 25px 50px;

        }

        #main {
            min-height: inherit;
            padding-left: 50px;

            &.short {
                min-height: 20px;
            }

            .book-collection {
                top:-60px;
                left: 0px;
                background-position: center;
            }

            p {

            }
        }
        #secondary {
            margin-top: 50px;
            min-height: 20px;

            .name {
                display: block;
            }
            .business {
                display: block;
                // color: $extra-light-green;
            }
            .website {
                display: block;
            }

        }

        #tagline {
            position: absolute;
            top: 40%;
            transform: translateY(-50%);
            font-size: 30px;
            margin-left: 75px;
            font-weight: 200;
            .bold {

            }
        }

        .scroll-down {
            position: absolute;
            bottom: 0px;
            right:0px;
            line-height: 1em;
            font-size: 12px;
            width: 150px;
            text-align: right;
            padding-right: 35px;

            &:before {
                content:'';
                display: inline-block;
                background: url('/images/scroll-down.png') no-repeat;
                margin-left: 5px;
                width: 25px;
                height: 25px;
                position: absolute;
                right: 0px;

            }

            &:hover {
                opacity: .8;
                cursor: pointer;
            }
        }
    }

    #more-content {

        .testimonials {
            padding: 25px;

            h5 {

            }

            .name {
                display: block;
            }
            .business {
                display: block;
                // color: $extra-light-green;
            }
            .website {
                display: block;

            }
        }

        .contact-info {
            -webkit-align-items: center;
            align-items: center;
            font-size: 25px;

            .row {
                margin-bottom: 25px;
            }

            .phone {
                font-family: serif;
                &:before {
                    content:'';
                    background: url('/images/phone-white.png') no-repeat;
                    background-size: 100%;
                }
            }

            .email {
                font-family: serif;

                &:before {
                    content:'';
                    background: url('/images/mail.png') no-repeat;
                    display: inline-block;
                    width: 21px;
                    height: 22px;
                    margin-right: 5px;
                    background-size: 100%;
                    margin-bottom: -2px;
                }
            }

            .follow-us {
                margin-bottom: 25px;
            }
        };

        .book {
            .book-collection {
                position: relative;
                top: 0;
                left: 0;
            }
        }

        .news {
            h4 {
                font-weight: 400;
                font-family: sans-serif;
                text-align: center;
                margin-bottom: 35px;
                text-align: center;
            }

            .news-list {

                .item {
                    position: relative;
                    margin-top: 3rem;
                    margin-bottom: 3rem;
                    h5 {
                        font-weight: 400;
                        font-family: sans-serif;
                    }

                    img {
                        display: none;
                    }

                    .content {
                        overflow: hidden;
                        height: 130px;
                    }

                    .bottom {
                        position: absolute;
                        bottom: 0px;
                        .read-more {
                            padding:5px 10px;
                            background-color: $dark-green;
                            font-size: 13px;
                            text-decoration: none;
                            position: absolute;
                            right: 65px;
                            &:hover {
                                opacity: .8;
                            }
                        }

                        .date {
                            font-size: 13px;
                            margin: 1em 0px;
                            padding-top: 5px;
                            font-weight: 100;
                            position: relative;
                            z-index: 100 !important;
                        }
                    }
                }
            }
        }


        .sample {
            .read-more {
                color: $light-green;
                position: absolute;
                bottom: 25px;
            }
        }
    }
}

#footer {
    height: 75px;

    .footer-text {
        font-size: 14px;
        line-height: 14px;
        font-weight: 200;
    }

    .phone {
        font-family: 'cochin', serif;
        font-size: 25px;
    }
}

/*
 * Off Canvas
 * --------------------------------------------------
 */
@media screen and (max-width: 767px) {
  .row-offcanvas {
    position: relative;
    -webkit-transition: all .25s ease-out;
         -o-transition: all .25s ease-out;
            transition: all .25s ease-out;
  }

  .row-offcanvas-right {
    right: 0;
  }

  .row-offcanvas-left {
    left: 0;
  }

  .row-offcanvas-right
  .sidebar-offcanvas {
    right: -50%; /* 6 columns */
  }

  .row-offcanvas-left
  .sidebar-offcanvas {
    left: -50%; /* 6 columns */
  }

  .row-offcanvas-right.active {
    right: 50%; /* 6 columns */
  }

  .row-offcanvas-left.active {
    left: 50%; /* 6 columns */
  }

  .sidebar-offcanvas {
    position: absolute;
    top: 0;
    width: 50%; /* 6 columns */
  }
}


/* Large Devices, Wide Screens */
@media only screen and (max-width : 1200px) {
    #content .QBecosystem {
        float: none;
    }
}

/* Medium Devices, Desktops */
@media only screen and (max-width : 992px) {
    #globe {
        left: 0%;
        top: 2%;
    }

    #content .QBecosystem {
        float: none;
        margin-left: -15px;
    }
}

/* Small Devices, Tablets */
@media only screen and (max-width : 768px) {
    #globe {
        left: 0%;
        top: 1%;
    }

    .row {
        display: flex;
        flex-direction: column
    }
    .row > div:first-of-type {
        order: 1
    }
}

/* Extra Small Devices, Phones */
@media only screen and (max-width : 480px) {

}

/* Custom, iPhone Retina */
@media only screen and (max-width : 320px) {

}
