{% extends "base.html" %}
{% block content %}
    <section id="header" class="container-fluid row">
        <div class="col-12 col-md-6">
            <a href="/"><div id="logo"></div></a>
        </div>
        <div class="col-12 col-md-6">
            <div id="contact-text">
                <span>NEED ASSISTANCE?</span></br><span>CALL NOW!</span>
            </div>
            <div id="phone"></div>
            <div id="phone-number">206-832-5485</div>
        </div>
    </section>
    <section id="content" class="container-fluid row no-gutter">
        <div id="globe" class="container"></div>
        <section id="navigation" class="col-md-5">
                <ul id="nav">
                    <li><a href="/quickbooks">QUICKBOOKS CONSULTING & ACCOUNTING</a></li>
                    <li><a href="/analysis">SMALL BUSINESS FINANCIAL ANALYSIS</a></li>
                    <li><a href="/testimonials">CLIENT TESTIMONIALS</a></li>
                    <li><a href="/radicallysimple">RADICALLY SIMPLE ACCOUNTING BOOK</a></li>
                    <li><a href="/news">NEWS AND PUBLICATIONS</a></li>
                    <li><a href="/save">SAVE ON SOFTWARE & SUPPLIES</a></li>
                    <li><a href="/blog">BLOG</a></li>
                    <li><a href="/about">ABOUT US</a></li>
                </ul>
        </section>
        <section id="main-content" class="col-md-7">
            {% block main %}

            {% endblock %}
        </section>
    </section>
    {% block more %}
    {% endblock %}
    <section id="footer" class="container-fluid row">

    </section>

{% endblock %}
